workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Prompt",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What's your city ?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "af57e4bd-8373-460b-869f-cc390301db6a",
      "name": "On form submission",
      "webhookId": "95604e06-0e05-404c-a5e7-45c8fa041a71"
    },
    {
      "parameters": {
        "url": "=https://api.positionstack.com/v1/forward?access_key=423390cecc201040996d131f20910596&query={{ $json['What\\'s your city ?'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "876f3210-fec8-4d30-9f77-b56b2a922f2e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemma-4-26b-a4b-it",
          "mode": "list",
          "cachedResultName": "models/gemma-4-26b-a4b-it"
        },
        "messages": {
          "values": [
            {
              "content": "=What clothes should i use today for my wheater: temperature {{ $json.current.temperature }}, time: {{ $json.current.observation_time }}? give me a full look: top, bottom, jacket?, foot, acessories."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        672,
        0
      ],
      "id": "8d9a1f95-5503-4fcb-94db-77974cfbd0b7",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "IldsbOIOz9dDvob6",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.weatherstack.com/current?access_key=b019eb1ab3936243ef5ccf7a4dfe71f1&query={{ $json.data[0].name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "21c50dd8-077b-4ab8-9a42-65504093950d",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1f26def9-722f-470e-a5dc-2f37f5c953ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96867a310af3f2714f43cc3cf24388478e827b7e135f8b7ce2449ff54a7ba494"
  },
  "id": "iwlzuCpDe5MyOgmC",
  "tags": []
}